ENUM_PREFIX SCREENSPACE_LINES
DEFINE_PREFIX SCREENSPACE_LINES

# VS is generated dynamically based on combinations
VS_IN vs_screenspace_lines_in.sh
VS_PREFIX vs_screenspace_lines

# FS is static (not generated for each combination)
FS_FILE fs_screenspace_lines.sc

DIM_VS INDICES
    ON
    OFF

DIM_VS TOPO
    LINES
    LINE_STRIP

DIM_VS COLOR
    PER_VERTEX
    PER_LINE
    GENERAL
