ENUM_PREFIX SCREENSPACE_POINTS
DEFINE_PREFIX SCREENSPACE_POINTS

# VS is generated dynamically based on combinations
VS_IN vs_screenspace_points_in.sh
VS_PREFIX vs_screenspace_points

# FS is generated dynamically based on combinations
FS_IN fs_screenspace_points_in.sh
FS_PREFIX fs_screenspace_points

DIM_VS COLOR
    GENERAL
    PER_VERTEX

DIM_FS SHAPE
    SQUARE
    CIRCLE
