# Embedded VF Programs Registry
# Each entry consists of:
#   - An ENUM_NAME line (uppercase identifier for the program)
#   - One or more indented shader file paths (lines with '/' and '.' are files)
# Entries are separated by blank lines.
# Lines starting with # are comments and are ignored.

CUSTOM_CPU_LINES
    vclib/shaders/primitives/lines/cpu_generated_lines/vs_cpu_generated_lines.sc
    vclib/shaders/primitives/lines/cpu_generated_lines/fs_cpu_generated_lines.sc

DRAWABLE_AXIS
    vclib/shaders/drawable/drawable_axis/vs_drawable_axis.sc
    vclib/shaders/drawable/drawable_axis/fs_drawable_axis.sc

DRAWABLE_DIRECTIONAL_LIGHT
    vclib/shaders/drawable/drawable_directional_light/vs_drawable_directional_light.sc
    vclib/shaders/drawable/drawable_directional_light/fs_drawable_directional_light.sc

DRAWABLE_ENVIRONMENT_PBR
    vclib/shaders/drawable/drawable_environment/vs_drawable_environment_pbr.sc
    vclib/shaders/drawable/drawable_environment/fs_drawable_environment_pbr.sc

DRAWABLE_MESH_POINTS_ID
    vclib/shaders/drawable/drawable_mesh/points_id/vs_points_id.sc
    vclib/shaders/drawable/drawable_mesh/points_id/fs_points_id.sc

DRAWABLE_MESH_POINTS_INSTANCE_ID
    vclib/shaders/drawable/drawable_mesh/points_instance_id/vs_points_instance_id.sc
    vclib/shaders/drawable/drawable_mesh/points_instance_id/fs_points_instance_id.sc

DRAWABLE_MESH_POINTS
    vclib/shaders/drawable/drawable_mesh/points/vs_points.sc
    vclib/shaders/drawable/drawable_mesh/points/fs_points.sc

DRAWABLE_MESH_POINTS_INSTANCE
    vclib/shaders/drawable/drawable_mesh/points_instance/vs_points_instance.sc
    vclib/shaders/drawable/drawable_mesh/points_instance/fs_points_instance.sc

DRAWABLE_MESH_SURFACE_FLAT_COLOR_FACE
    vclib/shaders/drawable/drawable_mesh/surface/vs_surface.sc
    vclib/shaders/drawable/drawable_mesh/surface/fs_surface_flat_color_face.sc

DRAWABLE_MESH_SURFACE_FLAT_COLOR_MESH
    vclib/shaders/drawable/drawable_mesh/surface/vs_surface.sc
    vclib/shaders/drawable/drawable_mesh/surface/fs_surface_flat_color_mesh.sc

DRAWABLE_MESH_SURFACE_FLAT_COLOR_USER
    vclib/shaders/drawable/drawable_mesh/surface/vs_surface.sc
    vclib/shaders/drawable/drawable_mesh/surface/fs_surface_flat_color_user.sc

DRAWABLE_MESH_SURFACE_FLAT_COLOR_VERTEX
    vclib/shaders/drawable/drawable_mesh/surface/vs_surface.sc
    vclib/shaders/drawable/drawable_mesh/surface/fs_surface_flat_color_vertex.sc

DRAWABLE_MESH_SURFACE_FLAT_TEX_VERTEX
    vclib/shaders/drawable/drawable_mesh/surface/vs_surface.sc
    vclib/shaders/drawable/drawable_mesh/surface/fs_surface_flat_tex_vertex.sc

DRAWABLE_MESH_SURFACE_FLAT_TEX_WEDGE
    vclib/shaders/drawable/drawable_mesh/surface/vs_surface.sc
    vclib/shaders/drawable/drawable_mesh/surface/fs_surface_flat_tex_wedge.sc

DRAWABLE_MESH_SURFACE_ID
    vclib/shaders/drawable/drawable_mesh/surface_id/vs_surface_id.sc
    vclib/shaders/drawable/drawable_mesh/surface_id/fs_surface_id.sc

DRAWABLE_MESH_SURFACE_NONE_COLOR_FACE
    vclib/shaders/drawable/drawable_mesh/surface/vs_surface.sc
    vclib/shaders/drawable/drawable_mesh/surface/fs_surface_none_color_face.sc

DRAWABLE_MESH_SURFACE_NONE_COLOR_MESH
    vclib/shaders/drawable/drawable_mesh/surface/vs_surface.sc
    vclib/shaders/drawable/drawable_mesh/surface/fs_surface_none_color_mesh.sc

DRAWABLE_MESH_SURFACE_NONE_COLOR_USER
    vclib/shaders/drawable/drawable_mesh/surface/vs_surface.sc
    vclib/shaders/drawable/drawable_mesh/surface/fs_surface_none_color_user.sc

DRAWABLE_MESH_SURFACE_NONE_COLOR_VERTEX
    vclib/shaders/drawable/drawable_mesh/surface/vs_surface.sc
    vclib/shaders/drawable/drawable_mesh/surface/fs_surface_none_color_vertex.sc

DRAWABLE_MESH_SURFACE_NONE_TEX_VERTEX
    vclib/shaders/drawable/drawable_mesh/surface/vs_surface.sc
    vclib/shaders/drawable/drawable_mesh/surface/fs_surface_none_tex_vertex.sc

DRAWABLE_MESH_SURFACE_NONE_TEX_WEDGE
    vclib/shaders/drawable/drawable_mesh/surface/vs_surface.sc
    vclib/shaders/drawable/drawable_mesh/surface/fs_surface_none_tex_wedge.sc

DRAWABLE_MESH_SURFACE_SMOOTH_COLOR_FACE
    vclib/shaders/drawable/drawable_mesh/surface/vs_surface.sc
    vclib/shaders/drawable/drawable_mesh/surface/fs_surface_smooth_color_face.sc

DRAWABLE_MESH_SURFACE_SMOOTH_COLOR_MESH
    vclib/shaders/drawable/drawable_mesh/surface/vs_surface.sc
    vclib/shaders/drawable/drawable_mesh/surface/fs_surface_smooth_color_mesh.sc

DRAWABLE_MESH_SURFACE_SMOOTH_COLOR_USER
    vclib/shaders/drawable/drawable_mesh/surface/vs_surface.sc
    vclib/shaders/drawable/drawable_mesh/surface/fs_surface_smooth_color_user.sc

DRAWABLE_MESH_SURFACE_SMOOTH_COLOR_VERTEX
    vclib/shaders/drawable/drawable_mesh/surface/vs_surface.sc
    vclib/shaders/drawable/drawable_mesh/surface/fs_surface_smooth_color_vertex.sc

DRAWABLE_MESH_SURFACE_SMOOTH_TEX_VERTEX
    vclib/shaders/drawable/drawable_mesh/surface/vs_surface.sc
    vclib/shaders/drawable/drawable_mesh/surface/fs_surface_smooth_tex_vertex.sc

DRAWABLE_MESH_SURFACE_SMOOTH_TEX_WEDGE
    vclib/shaders/drawable/drawable_mesh/surface/vs_surface.sc
    vclib/shaders/drawable/drawable_mesh/surface/fs_surface_smooth_tex_wedge.sc

DRAWABLE_MESH_SURFACE_UBER_PBR
    vclib/shaders/drawable/drawable_mesh/surface/vs_surface.sc
    vclib/shaders/drawable/drawable_mesh/surface/fs_surface_uber_pbr.sc

DRAWABLE_TRACKBALL
    vclib/shaders/drawable/drawable_trackball/vs_drawable_trackball.sc
    vclib/shaders/drawable/drawable_trackball/fs_drawable_trackball.sc

FONT_BASIC
    vclib/shaders/font/vs_font_basic.sc
    vclib/shaders/font/fs_font_basic.sc

FONT_DISTANCE_FIELD_DROP_SHADOW_IMAGE
    vclib/shaders/font/vs_font_distance_field_drop_shadow_image.sc
    vclib/shaders/font/fs_font_distance_field_drop_shadow_image.sc

FONT_DISTANCE_FIELD_DROP_SHADOW
    vclib/shaders/font/vs_font_distance_field_drop_shadow.sc
    vclib/shaders/font/fs_font_distance_field_drop_shadow.sc

FONT_DISTANCE_FIELD_OUTLINE_DROP_SHADOW_IMAGE
    vclib/shaders/font/vs_font_distance_field_outline_drop_shadow_image.sc
    vclib/shaders/font/fs_font_distance_field_outline_drop_shadow_image.sc

FONT_DISTANCE_FIELD_OUTLINE_IMAGE
    vclib/shaders/font/vs_font_distance_field_outline_image.sc
    vclib/shaders/font/fs_font_distance_field_outline_image.sc

FONT_DISTANCE_FIELD_OUTLINE
    vclib/shaders/font/vs_font_distance_field_outline.sc
    vclib/shaders/font/fs_font_distance_field_outline.sc

FONT_DISTANCE_FIELD_SUBPIXEL
    vclib/shaders/font/vs_font_distance_field_subpixel.sc
    vclib/shaders/font/fs_font_distance_field_subpixel.sc

FONT_DISTANCE_FIELD
    vclib/shaders/font/vs_font_distance_field.sc
    vclib/shaders/font/fs_font_distance_field.sc

IMGUI_IMAGE
    vclib/bgfx_imgui/vs_imgui_image.sc
    vclib/bgfx_imgui/fs_imgui_image.sc

ORCONUT_IMGUI
    vclib/bgfx_imgui/vs_ocornut_imgui.sc
    vclib/bgfx_imgui/fs_ocornut_imgui.sc

PRIMITIVE_LINES
    vclib/shaders/primitives/lines/primitive_lines/vs_primitive_lines.sc
    vclib/shaders/primitives/lines/primitive_lines/fs_primitive_lines.sc

SCREENSPACE_BOX
    vclib/shaders/screenspace/overlay/screenspace_box/vs_screenspace_box.sc
    vclib/shaders/screenspace/overlay/screenspace_box/fs_screenspace_box.sc

SELECTION_FACE_VISIBLE_RENDER_PASS
    vclib/shaders/selection/face_visible/vs_face_visible.sc
    vclib/shaders/selection/face_visible/fs_face_visible.sc

SCREENSPACE_POINTS
    vclib/shaders/screenspace/primitives/screenspace_points/vs_screenspace_points.sc
    vclib/shaders/screenspace/primitives/screenspace_points/fs_screenspace_points.sc

SCREENSPACE_LINES_IDX_LINES_PVC
    vclib/shaders/screenspace/primitives/screenspace_lines/vs_screenspace_lines_idx_lines_pvc.sc
    vclib/shaders/screenspace/primitives/screenspace_lines/fs_screenspace_lines.sc

SCREENSPACE_LINES_IDX_LINES_PLC
    vclib/shaders/screenspace/primitives/screenspace_lines/vs_screenspace_lines_idx_lines_plc.sc
    vclib/shaders/screenspace/primitives/screenspace_lines/fs_screenspace_lines.sc

SCREENSPACE_LINES_IDX_LINES_GC
    vclib/shaders/screenspace/primitives/screenspace_lines/vs_screenspace_lines_idx_lines_gc.sc
    vclib/shaders/screenspace/primitives/screenspace_lines/fs_screenspace_lines.sc

SCREENSPACE_LINES_NOIDX_LINES_PVC
    vclib/shaders/screenspace/primitives/screenspace_lines/vs_screenspace_lines_noidx_lines_pvc.sc
    vclib/shaders/screenspace/primitives/screenspace_lines/fs_screenspace_lines.sc

SCREENSPACE_LINES_NOIDX_LINES_PLC
    vclib/shaders/screenspace/primitives/screenspace_lines/vs_screenspace_lines_noidx_lines_plc.sc
    vclib/shaders/screenspace/primitives/screenspace_lines/fs_screenspace_lines.sc

SCREENSPACE_LINES_NOIDX_LINES_GC
    vclib/shaders/screenspace/primitives/screenspace_lines/vs_screenspace_lines_noidx_lines_gc.sc
    vclib/shaders/screenspace/primitives/screenspace_lines/fs_screenspace_lines.sc

SCREENSPACE_LINES_IDX_STRIP_PVC
    vclib/shaders/screenspace/primitives/screenspace_lines/vs_screenspace_lines_idx_strip_pvc.sc
    vclib/shaders/screenspace/primitives/screenspace_lines/fs_screenspace_lines.sc

SCREENSPACE_LINES_IDX_STRIP_PLC
    vclib/shaders/screenspace/primitives/screenspace_lines/vs_screenspace_lines_idx_strip_plc.sc
    vclib/shaders/screenspace/primitives/screenspace_lines/fs_screenspace_lines.sc

SCREENSPACE_LINES_IDX_STRIP_GC
    vclib/shaders/screenspace/primitives/screenspace_lines/vs_screenspace_lines_idx_strip_gc.sc
    vclib/shaders/screenspace/primitives/screenspace_lines/fs_screenspace_lines.sc

SCREENSPACE_LINES_NOIDX_STRIP_PVC
    vclib/shaders/screenspace/primitives/screenspace_lines/vs_screenspace_lines_noidx_strip_pvc.sc
    vclib/shaders/screenspace/primitives/screenspace_lines/fs_screenspace_lines.sc

SCREENSPACE_LINES_NOIDX_STRIP_PLC
    vclib/shaders/screenspace/primitives/screenspace_lines/vs_screenspace_lines_noidx_strip_plc.sc
    vclib/shaders/screenspace/primitives/screenspace_lines/fs_screenspace_lines.sc

SCREENSPACE_LINES_NOIDX_STRIP_GC
    vclib/shaders/screenspace/primitives/screenspace_lines/vs_screenspace_lines_noidx_strip_gc.sc
    vclib/shaders/screenspace/primitives/screenspace_lines/fs_screenspace_lines.sc
