ENUM_PREFIX DRAWABLE_MESH_SURFACE
DEFINE_PREFIX SURFACE

# VS is static (not generated for each combination)
VS_FILE vs_surface.sc

# FS is generated dynamically based on combinations
FS_IN surface_in.sh
FS_PREFIX fs_surface

SHADING
    FLAT
    NONE
    NORMAL_MAP
    SMOOTH

COLOR
    FACE
    MESH
    TEX_VERTEX
    TEX_WEDGE
    USER
    VERTEX
