ENUM_PREFIX DRAWABLE_MESH_SURFACE
DEFINE_PREFIX SURFACE

# VS is generated dynamically based on combinations
VS_IN vs_surface_in.sh
VS_PREFIX vs_surface

# FS is generated dynamically based on combinations
FS_IN fs_surface_in.sh
FS_PREFIX fs_surface

DIM_BOTH SECTION
    ENABLED
    DISABLED

DIM_FS SHADING
    FLAT
    NONE
    NORMAL_MAP
    SMOOTH

DIM_FS COLOR
    FACE
    MESH
    TEX_VERTEX
    TEX_WEDGE
    USER
    VERTEX
