ENUM_PREFIX PRIMITIVE_POINTS
DEFINE_PREFIX POINTS

# VS is generated dynamically based on combinations
VS_IN vs_points_in.sh
VS_PREFIX vs_points

# FS is generated dynamically based on combinations
FS_IN fs_points_in.sh
FS_PREFIX fs_points

DIM_BOTH SHADING
    NONE
    PER_VERTEX

DIM_VS COLOR
    GENERAL
    PER_VERTEX

DIM_FS SHAPE
    SQUARE
    CIRCLE

DIM_BOTH SELECTION
    OFF
    ON

ENUM_PREFIX PRIMITIVE_POINTS_ID
DEFINE_PREFIX POINTS_ID

VS_IN vs_points_in.sh
VS_PREFIX vs_points

FS_IN fs_points_id_in.sh
FS_PREFIX fs_points_id

DIM_VS SHADING
    NONE

DIM_VS COLOR
    GENERAL

DIM_FS SHAPE
    SQUARE
    CIRCLE
