ENUM_PREFIX PRIMITIVE_LINES
DEFINE_PREFIX LINES

# VS is generated dynamically based on combinations
VS_IN vs_lines_in.sh
VS_PREFIX vs_lines

# FS is generated dynamically based on combinations
FS_IN fs_lines_in.sh
FS_PREFIX fs_lines

DIM_BOTH SHADING
    NONE
    PER_VERTEX
    PER_LINE

DIM_VS INDICES
    ON
    OFF

DIM_VS TOPO
    LINES
    LINE_STRIP

DIM_VS COLOR
    PER_VERTEX
    PER_LINE
    GENERAL
